@tailwind base;
@tailwind components;
@tailwind utilities;
.background {
    background-image: url('../public/gym.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    
  
}
.background1 {
    background-image: url('../public/gymbg.jpg');
    background-size: cover;
    background-position: center;
}
/* Sidebar styles */
aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    transition: width 0.3s;
  }
  
  aside h2 {
    margin-bottom: 1rem;
  }
  
  aside nav ul {
    list-style: none;
    padding: 0;
  }
  
  aside nav ul li {
    margin: 0.5rem 0;
  }
  
  aside nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
  }
  
  aside nav ul li a:hover {
    background-color: #e0e7ff; /* Tailwind's light blue */
  }
  
  .fontt {
   font-family:  "DynaPuff", system-ui;
  }
  .Width {
    width:auto
  }
  @media (min-width: 360px) {
    .Width {
      width: 300px;
    }
  }
  @media (min-width: 430px) {
    .Width {
      width: 370px;
    }
  }
  .Modal{
    width: auto;
  }
  @media (min-width: 360px) {
    .Modal {
      width: 290px;
    }
  }
  @media (min-width: 430px) {
    .Modal {
      width: 320px;
    }
  }